/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/account-nav.scss ***!
  \***************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .woocommerce-MyAccount-navigation {
    margin-right: 8.5rem;
    width: 33.1rem;
  }
}
@media screen and (max-width: 1023px) {
  .woocommerce-MyAccount-navigation {
    width: 100%;
  }
  .woocommerce-MyAccount-navigation:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.woocommerce-MyAccount-navigation-link {
  position: relative;
  padding: 1.9rem 0 2rem;
  border-bottom: 1px solid #f2e4d1;
}

.woocommerce-MyAccount-navigation-link.is-active:before {
  content: "";
  position: absolute;
  left: -2.6rem;
  right: -2.6rem;
  top: 0;
  bottom: -1px;
  background-color: #f0f2f4;
  z-index: 1;
}

.woocommerce-MyAccount-navigation-link a {
  position: relative;
  display: block;
  line-height: 3.2rem;
  color: #000;
  z-index: 2;
  transition: color 0.2s ease;
}
.woocommerce-MyAccount-navigation-link a:hover, .woocommerce-MyAccount-navigation-link a:focus {
  text-decoration: none;
  color: #bb753a;
}
.woocommerce-MyAccount-navigation-link a:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #bb753a;
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  .woocommerce-MyAccount-navigation-link a:before {
    width: 3.2rem;
    height: 3.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .woocommerce-MyAccount-navigation-link a:before {
    width: 2.6rem;
    height: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .woocommerce-MyAccount-navigation-link a {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .woocommerce-MyAccount-navigation-link a {
    font-size: 1.8rem;
  }
}

.woocommerce-MyAccount-navigation-link.is-active a {
  font-weight: 500;
}
.woocommerce-MyAccount-navigation-link.is-active a:hover, .woocommerce-MyAccount-navigation-link.is-active a:focus {
  color: #000;
}

@media screen and (min-width: 1024px) {
  .shop_table_responsive thead {
    display: table-header-group;
  }
}
@media screen and (max-width: 1023px) {
  .shop_table_responsive thead {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .shop_table_responsive td {
    display: block;
    text-align: right;
    clear: both;
  }
  .shop_table_responsive td::before {
    content: attr(data-title) ": ";
    display: table;
    font-weight: 500;
    float: left;
  }
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/account-content.scss ***!
  \*******************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.account_content {
  padding-top: 5.4rem;
}

@media screen and (min-width: 1024px) {
  .account_content .woocommerce {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.account_content .woocommerce-MyAccount-content {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .account_content .woocommerce-MyAccount-content {
    width: calc(100% - 41.6rem);
  }
}

.account_content .woocommerce-MyAccount-content > p {
  margin-bottom: 1.2rem;
  line-height: 1.5;
}
.account_content .woocommerce-MyAccount-content > p:first-child {
  padding-top: 0.5rem;
  font-size: 1.8rem;
}
.account_content .woocommerce-MyAccount-content > p:first-child b,
.account_content .woocommerce-MyAccount-content > p:first-child strong {
  font-size: 2.2rem;
}

.account_content .woocommerce-MyAccount-content p b,
.account_content .woocommerce-MyAccount-content p strong {
  font-weight: 500;
}

.account_content .woocommerce-MyAccount-content p a {
  color: #bb753a;
  text-decoration: underline;
  font-weight: 500;
}
.account_content .woocommerce-MyAccount-content p a:focus, .account_content .woocommerce-MyAccount-content p a:hover {
  text-decoration: none;
}

.account_content .button {
  font-weight: 700;
  color: #fff;
  background-color: #bb753a;
  border: 1px solid #bb753a;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Geograph", sans-serif;
  cursor: pointer;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.account_content .button:hover, .account_content .button:focus {
  text-decoration: none;
}
.account_content .button:not(:disabled):hover {
  border-color: #8c592e;
  background-color: #8c592e;
}
.account_content .button:disabled {
  opacity: 0.25;
  pointer-events: none;
}
.onboarding_2--active_state .account_content .button {
  opacity: 1;
  pointer-events: all;
}
@media screen and (min-width: 1024px) {
  .account_content .button {
    padding: 0 2.2rem;
    height: 4.8rem;
    line-height: 4.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .account_content .button {
    padding: 0 1.6rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.4rem;
  }
}
/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/account-table.scss ***!
  \*****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.account_content .woocommerce-orders-table {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .account_content .woocommerce-orders-table {
    margin-left: -3.6rem;
    width: calc(100% - 38rem);
  }
}
@media screen and (max-width: 1023px) {
  .account_content .woocommerce-orders-table {
    width: 100%;
  }
}

.account_content .woocommerce-orders-table__header {
  padding: 1.8rem 1.8rem;
  background-color: #fcf5ec;
  font-weight: 500;
  text-align: left;
}
.account_content .woocommerce-orders-table__header:first-child {
  padding-left: 2rem;
}
.account_content .woocommerce-orders-table__header:last-child {
  padding-right: 0;
}

.account_content .woocommerce-orders-table__cell {
  padding: 1rem 1.8rem;
}
.account_content .woocommerce-orders-table__cell:first-child {
  padding-left: 2rem;
}
.account_content .woocommerce-orders-table__cell:last-child {
  padding-right: 0;
}
@media screen and (min-width: 1024px) {
  .account_content .woocommerce-orders-table__cell {
    max-width: 24rem;
  }
}
.account_content .woocommerce-orders-table__cell-order-number {
  font-weight: 500;
  text-decoration: underline;
}

.account_content .woocommerce-orders-table__row:first-child .woocommerce-orders-table__cell {
  padding-top: 1.3rem;
}

.account_content .woocommerce-orders-table__cell .woocommerce-button {
  position: relative;
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 1.4rem;
}
.account_content .woocommerce-orders-table__cell .woocommerce-button:not(:last-child) {
  margin-right: 0.6rem;
}

.account_content .woocommerce-orders-table__cell .woocommerce-button.view {
  padding-right: 2.5rem;
  padding-left: 1rem;
}
.account_content .woocommerce-orders-table__cell .woocommerce-button.view:after {
  content: "";
  position: absolute;
  right: 0.7rem;
  top: 50%;
  margin-top: -0.35rem;
  width: 1.2rem;
  height: 0.9rem;
  display: block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSI+PGRlZnM+PGNsaXBQYXRoIGlkPSJ1eG03YSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTYuMDc3IDcuNDQ0YTMuMDc3IDMuMDc3IDAgMSAwIDAtNi4xNTQgMy4wNzcgMy4wNzcgMCAwIDAgMCA2LjE1NHoiLz48L2NsaXBQYXRoPjwvZGVmcz48Zz48Zz48Zz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNiA4Ljg1N2MzLjExNSAwIDYtMyA2LTQuNDI4QzEyIDMgOS4xMTUgMCA2IDBTMCAzIDAgNC40MjljMCAxLjQyOCAyLjg4NSA0LjQyOCA2IDQuNDI4eiIvPjwvZz48Zz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNiYjc1M2EiIHN0cm9rZS1taXRlcmxpbWl0PSIyMCIgc3Ryb2tlLXdpZHRoPSIzLjYiIGQ9Ik02LjA3NyA3LjQ0NGEzLjA3NyAzLjA3NyAwIDEgMCAwLTYuMTU0IDMuMDc3IDMuMDc3IDAgMCAwIDAgNi4xNTR6IiBjbGlwLXBhdGg9InVybCgmcXVvdDsjdXhtN2EmcXVvdDspIi8+PC9nPjwvZz48L2c+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*# sourceMappingURL=src_js_pages_account-orders_js.css.map*/