/*!**************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/swiper/modules/effect-fade/effect-fade.min.css ***!
  \**************************************************************************************************************************************************************************************************************/
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/banner-slider.scss ***!
  \*****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.banner_slider {
  padding: 0;
  background-color: #fcf5ec;
}

.banner_slider__body {
  position: relative;
}

.banner_slider__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

@media screen and (min-width: 1024px) {
  .banner_slider__column {
    min-height: 68rem;
  }
  .banner_slider__column:nth-child(2n+1) {
    width: 62.8%;
  }
  .banner_slider__column:nth-child(2n+2) {
    width: 37.2%;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__column {
    width: 100%;
  }
}

.banner_slider_img {
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .banner_slider_img {
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider_img {
    padding-bottom: 85%;
  }
}

.banner_slider_img__in {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_slider__content {
  height: 100%;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .banner_slider__content {
    padding: 9.4rem var(--gl-indent) 17rem 8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__content {
    padding: 3.3rem 2.9rem 9.6rem;
  }
}

.banner_slider__container {
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .banner_slider__container {
    max-width: 40rem;
  }
}

.banner_slider__title {
  font-weight: 500;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .banner_slider__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__title:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__title {
    letter-spacing: -0.018em;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__title {
    letter-spacing: -0.024em;
  }
  .banner_slider__title br {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .banner_slider__link {
    width: 100%;
  }
}

.banner_slider__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .banner_slider__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__text:not(:last-child) {
    margin-bottom: 2.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__text:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__text {
    line-height: 1.5;
    max-width: 41.1rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__text {
    line-height: 1.43;
    letter-spacing: -0.014em;
  }
}

.banner_slider__wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  .banner_slider__wrap {
    width: 37.2%;
    margin-left: auto;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__wrap {
    width: 100%;
    padding: 0 2.9rem 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner_slider__controls {
    padding-left: 6rem;
    margin-bottom: 9rem;
  }
}

.banner_slider__button {
  flex-shrink: 0;
}
.banner_slider__button.banner_slider__button--prev_mod:not(:last-child) {
  margin-right: 0.7rem;
}
@media screen and (min-width: 1024px) {
  .banner_slider__button.banner_slider__button--next_mod:not(:last-child) {
    margin-right: 2.3rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__button.banner_slider__button--next_mod:not(:last-child) {
    margin-right: 1.5rem;
  }
}
/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/slider-controls.scss ***!
  \*****************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.slider_controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.slider_controls__pagination {
  color: #bb753a;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .slider_controls__pagination {
    font-size: 2rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 1023px) {
  .slider_controls__pagination {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .banner_slider .slider_controls__pagination {
    letter-spacing: -0.02em;
  }
}
/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/text-section-mixin.scss ***!
  \**********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.text_section__title {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .text_section__title {
    max-width: 90%;
    font-size: 2.2rem;
    line-height: 1.45;
  }
  .text_section__title:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .text_section__title {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
  .text_section__title:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}

.text_section__description {
  font-weight: 400;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .text_section__description {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .text_section__description {
    font-size: 1.4rem;
  }
}
.text_section__description:not(:last-child) {
  margin-bottom: 3.6rem;
}
@media screen and (min-width: 1024px) {
  .text_section__description {
    max-width: 92%;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1023px) {
  .text_section__description {
    line-height: 1.45;
    letter-spacing: -0.012em;
    color: rgba(0, 0, 0, 0.8);
  }
}
/*!************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/content-banner-video.scss ***!
  \************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.content_banner_video__wrap {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .content_banner_video__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .content_banner_video__decor {
    padding-top: 10.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_banner_video__decor {
    padding-top: 5.4rem;
  }
}

.content_banner_video__media {
  position: relative;
  height: 0;
}
@media screen and (min-width: 1200px) {
  .content_banner_video__media {
    margin-left: -10.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .content_banner_video__media {
    flex-shrink: 0;
  }
  .content_banner_video__media:not(:last-child) {
    margin-right: 9.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_banner_video__media:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .content_banner_video__media {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .content_banner_video__media {
    width: 52.2%;
    padding-bottom: 42.5%;
  }
}
@media screen and (max-width: 767px) {
  .content_banner_video__media {
    width: 100%;
    padding-bottom: 81%;
  }
}

.content_banner_video__img_in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_banner_video__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_banner_video__trigger {
  transition: all 0.3s ease;
  will-change: transform;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .content_banner_video__trigger {
    margin: -6rem 0 0 -6rem;
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_banner_video__trigger {
    margin: -4.8rem 0 0 -4.8rem;
    width: 9.6rem;
    height: 9.6rem;
  }
}
.content_banner_video__trigger:hover {
  transform: scale(1.1);
  color: #bb753a;
}

@media screen and (min-width: 1024px) {
  .content_banner_video__content {
    margin-top: -2.4rem;
  }
}

.content_banner_video__title {
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .content_banner_video__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_banner_video__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  .content_banner_video__title {
    letter-spacing: -0.016em;
  }
  .content_banner_video__title:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .content_banner_video__title {
    letter-spacing: -0.024em;
  }
  .content_banner_video__title:not(:last-child) {
    margin-bottom: 0.6rem;
  }
}

.content_banner_video__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .content_banner_video__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_banner_video__text {
    font-size: 1.4rem;
  }
}
.content_banner_video__text p:not(:last-child) {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .content_banner_video__text {
    line-height: 1.5;
  }
  .content_banner_video__text:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}
@media screen and (max-width: 767px) {
  .content_banner_video__text {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -0.016em;
    line-height: 1.42;
  }
  .content_banner_video__text:not(:last-child) {
    margin-bottom: 2rem;
  }
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/banner-image.scss ***!
  \****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.banner_image__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
@media screen and (min-width: 1024px) {
  .banner_image__wrap.banner_image__wrap--reverse_mod {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__wrap.banner_image__wrap--reverse_mod {
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__wrap {
    flex-direction: column-reverse;
  }
}

.banner_image__content {
  margin: auto 0;
}
@media screen and (min-width: 1024px) {
  .banner_image__content {
    width: 49%;
    padding: 1.7rem 0 1.7rem;
    flex-shrink: 0;
  }
  .banner_image__content:not(.banner_image__wrap--reverse_mod .banner_image__content) {
    margin-right: 9.2rem;
  }
  .banner_image__wrap--reverse_mod .banner_image__content {
    margin-left: 9.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__wrap--reverse_mod .banner_image__content:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.banner_image__title {
  font-weight: 500;
  letter-spacing: -0.017em;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .banner_image__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_image__title:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__title:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__title {
    letter-spacing: -0.025em;
  }
}

.banner_image__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .banner_image__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_image__text:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__text:not(:last-child) {
    margin: 0 0 1.9rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .banner_image__text p:not(:last-child) {
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__text p:not(:last-child) {
    margin: 0 0 0.7rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .banner_image__text {
    line-height: 1.48;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__text {
    letter-spacing: -0.015em;
    line-height: 1.45;
  }
}

.banner_image__img_w {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .banner_image__img_w {
    max-width: 64rem;
    padding-bottom: 42%;
    margin-left: auto;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__img_w:not(.banner_image__wrap--reverse_mod .banner_image__img_w) {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_image__img_w {
    padding-bottom: 81.1%;
  }
}
@media screen and (min-width: 1200px) {
  .banner_image__img_w:not(.banner_image__wrap--reverse_mod .banner_image__img_w) {
    margin-right: -10.8rem;
  }
  .banner_image__wrap--reverse_mod .banner_image__img_w {
    margin-left: -10.8rem;
  }
}

.banner_image__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_image__btn {
  display: inline-flex;
}
.banner_image__btn:not(:last-child) {
  margin-right: 2rem;
}
/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/featured-resources.scss ***!
  \**********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.featured_resources__wrap {
  position: relative;
}

.featured_resources__button {
  position: absolute;
  top: 0;
  z-index: 3;
}
.featured_resources__button.featured_resources__button--prev_mod {
  left: 0;
  margin-left: -2rem;
}
.featured_resources__button.featured_resources__button--next_mod {
  right: 0;
  margin-right: -2rem;
}
.featured_resources__button.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .featured_resources__button {
    margin-top: 14%;
  }
}
@media screen and (max-width: 1023px) {
  .featured_resources__button {
    margin-top: 18%;
  }
}

.featured_resources__slider.swiper {
  overflow: visible;
}
@media screen and (min-width: 1024px) {
  .featured_resources__slider.swiper {
    margin-right: -2.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .featured_resources__slider.swiper {
    margin-right: -1.5rem;
  }
}

.featured_resources__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.featured_resources__item.swiper-slide {
  height: auto;
}
@media screen and (min-width: 1024px) {
  .featured_resources__item {
    padding-right: 2.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .featured_resources__item {
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .featured_resources__item {
    width: 33.333%;
  }
}
@media screen and (max-width: 767px) {
  .featured_resources__item {
    width: 69%;
  }
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/info-card.scss ***!
  \*************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.info_card {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.info_card:hover, .info_card:focus {
  text-decoration: none;
}

.info_card_img {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 71%;
}
@media screen and (min-width: 1024px) {
  .info_card_img:not(:last-child) {
    margin-bottom: 2.7rem;
  }
}
@media screen and (max-width: 1023px) {
  .info_card_img:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}
.info_card_img::before {
  z-index: 1;
  content: "";
  background-color: #bb753a;
  opacity: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.info_card:hover .info_card_img::before, .info_card:focus .info_card_img::before {
  opacity: 0.77;
}

.info_card_img__in {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_card__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.info_card__subtitle {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.11em;
  color: #868686;
}
@media screen and (min-width: 1024px) {
  .info_card__subtitle:not(:last-child) {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 1023px) {
  .info_card__subtitle:not(:last-child) {
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .info_card__subtitle {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .info_card__subtitle {
    font-size: 1.4rem;
  }
  .members_slider .info_card__subtitle {
    font-size: 1.2rem;
  }
  .memberships_tabs .info_card__subtitle {
    letter-spacing: 0.078em;
  }
}

.info_card__title {
  flex: 1 1 auto;
  line-height: 1.14;
  letter-spacing: -0.017em;
  font-weight: 500;
}
.info_card__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .info_card__title {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .info_card__title {
    font-size: 1.8rem;
  }
}

.info_card_link {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  will-change: opacity;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.info_card:hover .info_card_link, .info_card:focus .info_card_link {
  opacity: 1;
  pointer-events: initial;
}

.info_card_link__text {
  color: #bb753a;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  border-bottom: 2px solid #bb753a;
}
.info_card_link__text:not(:last-child) {
  margin-right: 0.7rem;
}

.info_card_link__icon {
  width: 0.6rem;
  height: 1.2rem;
  flex-shrink: 0;
  margin-top: 1px;
  color: #bb753a;
}
/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/section-head.scss ***!
  \**************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.section_head {
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .section_head:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}
@media screen and (max-width: 767px) {
  .section_head:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .section_head {
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .section_head {
    align-items: flex-end;
  }
}

h2.section_head__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  h2.section_head__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  h2.section_head__title {
    font-size: 2.6rem;
  }
}

h3.section_head__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  h3.section_head__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  h3.section_head__title {
    font-size: 2.2rem;
  }
}

.section_head__title:not(:last-child) {
  margin-right: 1.2rem;
}

.section_head__right {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .section_head__right {
    padding-bottom: 4px;
  }
}
/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/full-width-video.scss ***!
  \********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.full_width_video__title {
  font-weight: 500;
  letter-spacing: -0.017em;
}
@media screen and (min-width: 1024px) {
  .full_width_video__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_width_video__title {
    font-size: 2.6rem;
  }
}
.full_width_video__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.full_width_video__text {
  font-weight: 400;
  width: 95%;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .full_width_video__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_width_video__text {
    font-size: 1.4rem;
  }
}
.full_width_video__text:not(:last-child) {
  margin-bottom: 4.1rem;
}

.full_width_video__img_wrap {
  position: relative;
}

.full_width_video__img_in {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 50rem;
  padding-bottom: 41.2%;
}

.full_width_video__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full_width_video__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16rem;
  height: 16rem;
  color: #fff;
  transform: translate(-50%, -50%);
}
/*!***************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/video-and-picture-mixin.scss ***!
  \***************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.video_and_picture {
  position: relative;
}

.video_and_picture__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.video_and_picture__img:not(:last-child) {
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 768px) {
  .video_and_picture__img {
    padding-top: 41.2%;
  }
}
@media screen and (max-width: 767px) {
  .video_and_picture__img {
    padding-top: 57%;
  }
}

.video_and_picture__img_in {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video_and_picture__title {
  font-weight: 500;
  letter-spacing: -0.053em;
}
@media screen and (min-width: 1024px) {
  .video_and_picture__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .video_and_picture__title {
    font-size: 2.6rem;
  }
}
.video_and_picture__title:not(:last-child) {
  margin-bottom: 1.6rem;
}

.video_and_picture__text {
  font-weight: 400;
  width: 98%;
  letter-spacing: -0.025em;
  line-height: 1.48;
}
@media screen and (min-width: 1024px) {
  .video_and_picture__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .video_and_picture__text {
    font-size: 1.4rem;
  }
}
.video_and_picture__text:not(:last-child) {
  margin-bottom: 4.1rem;
}

.video_and_picture__descrip {
  font-size: 1.4rem;
  letter-spacing: -0.009em;
}

.video_and_picture__icon {
  display: block;
}
@media screen and (min-width: 1024px) {
  .video_and_picture__icon:not(.full_width_video .video_and_picture__icon) {
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .full_width_video .video_and_picture__icon {
    width: 16rem;
    height: 16rem;
  }
}
@media screen and (max-width: 1023px) {
  .video_and_picture__icon {
    width: 10.4rem;
    height: 10.4rem;
  }
}

.video_and_picture__link {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .video_and_picture__link:not(.full_width_video .video_and_picture__link) {
    margin-top: -8rem;
    margin-left: -6rem;
  }
}
@media screen and (min-width: 1024px) {
  .full_width_video .video_and_picture__link {
    margin-top: -10rem;
    margin-left: -8rem;
  }
}
@media screen and (max-width: 1023px) {
  .video_and_picture__link {
    margin-top: -7.6rem;
    margin-left: -5.2rem;
  }
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/post-preview.scss ***!
  \****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.post_preview {
  background-color: #fcf5ec;
}
.post_preview.post_preview--bg_mod_1 {
  background-color: #f0f2f4;
}
.post_preview.post_preview--bg_mod_2 {
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .post_preview {
    padding-top: 8rem;
    padding-bottom: 9rem;
  }
}

.post_preview__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 -2.3rem -5rem 0;
}

.post_preview__video_trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 10.4rem;
  height: 10.4rem;
  color: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  will-change: transform;
}
.post_preview__video_trigger:hover {
  transform: translate(-50%, -50%) scale(1.1);
  color: #bb753a;
}
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/post-preview-card.scss ***!
  \*********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .post_preview_card {
    width: 50%;
    padding: 0 2.3rem 5rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card {
    width: 100%;
    padding: 0 2.3rem 1.8rem 0;
  }
}

.post_preview_card__img_link {
  display: block;
}
.post_preview_card__img_link:hover .post_preview_card__img_wrap::before, .post_preview_card__img_link:focus .post_preview_card__img_wrap::before {
  opacity: 0.6;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__img_link:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__img_link:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

.post_preview_card__img_wrap {
  position: relative;
}
.post_preview_card__img_wrap::before {
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(5deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
}

.post_preview_card__img_w {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__img_w {
    max-height: 28rem;
    padding-bottom: 46.6%;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__img_w {
    padding-bottom: 57%;
  }
}

.post_preview_card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post_preview_card__title {
  color: #000;
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .post_preview_card__title {
    letter-spacing: -0.018em;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__title {
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 1024px) {
  .post_preview_card__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__title:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}

.post_preview_card__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__text {
    font-size: 1.4rem;
  }
}
.post_preview_card__text:not(:last-child) {
  margin-bottom: 1.7rem;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__text {
    width: 90%;
    line-height: 1.48;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__text {
    letter-spacing: -0.015em;
    line-height: 1.41;
  }
}

@media screen and (max-width: 1023px) {
  .post_preview_card__btn {
    display: none;
  }
}

/*# sourceMappingURL=src_js_pages_about-sustainable-farming-wagyu_js.css.map*/