/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/quantity.scss ***!
  \**********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.quantity {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .product_content__actions .quantity {
    width: calc(50% - 1.2rem);
  }
  .product_content__actions .quantity:not(:last-child) {
    margin-right: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .product_content__actions .quantity:not(:last-child) {
    margin-bottom: 2.6rem;
  }
}

.input_number {
  display: block;
  width: 100%;
  padding: 0rem 3.6rem 0 3.6rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Geograph", sans-serif;
  color: #000;
  background-color: #fff;
  border: none;
  appearance: none;
  -moz-appearance: textfield;
}
.input_number:not(.input_number.input_number--border_disable) {
  box-shadow: inset 0 0 0 1px #bb753a;
}
.input_number::-webkit-input-placeholder {
  color: #000;
}
.input_number::-moz-placeholder {
  color: #000;
}
.input_number:-ms-input-placeholder {
  color: #000;
}
@media screen and (min-width: 1024px) {
  .input_number {
    height: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number {
    height: 4.4rem;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input_number_decrement,
.input_number_increment {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  cursor: pointer;
  transition: color, opacity 0.3s ease;
}
.input_number_decrement.input_number_decrement--transparent,
.input_number_increment.input_number_decrement--transparent {
  color: #bb753a;
}
.input_number_decrement.input_number_decrement--gold,
.input_number_increment.input_number_decrement--gold {
  background-color: #bb753a;
  color: #fff;
}
.input_number_decrement:hover.input_number_decrement--transparent, .input_number_decrement:focus.input_number_decrement--transparent,
.input_number_increment:hover.input_number_decrement--transparent,
.input_number_increment:focus.input_number_decrement--transparent {
  color: #000;
}
.input_number_decrement:hover.input_number_decrement--gold, .input_number_decrement:focus.input_number_decrement--gold,
.input_number_increment:hover.input_number_decrement--gold,
.input_number_increment:focus.input_number_decrement--gold {
  opacity: 0.7;
}
@media screen and (min-width: 1024px) {
  .input_number_decrement,
.input_number_increment {
    width: 5.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number_decrement,
.input_number_increment {
    width: 4.6rem;
  }
}

.input_number_decrement {
  left: 0;
}
@media screen and (min-width: 1024px) {
  .input_number_decrement {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number_decrement {
    padding: 0 1.6rem;
  }
}

.input_number_increment {
  right: 0;
}
@media screen and (min-width: 1024px) {
  .input_number_increment {
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number_increment {
    padding: 0 1.2rem;
  }
}

/*# sourceMappingURL=src_js_pages_cart_js.css.map*/