/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/quantity.scss ***!
  \**********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.quantity {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .product_content__actions .quantity {
    width: calc(50% - 1.2rem);
  }
  .product_content__actions .quantity:not(:last-child) {
    margin-right: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .product_content__actions .quantity:not(:last-child) {
    margin-bottom: 2.6rem;
  }
}

.input_number {
  display: block;
  width: 100%;
  padding: 0rem 3.6rem 0 3.6rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Geograph", sans-serif;
  color: #000;
  background-color: #fff;
  border: none;
  appearance: none;
  -moz-appearance: textfield;
}
.input_number:not(.input_number.input_number--border_disable) {
  box-shadow: inset 0 0 0 1px #bb753a;
}
.input_number::-webkit-input-placeholder {
  color: #000;
}
.input_number::-moz-placeholder {
  color: #000;
}
.input_number:-ms-input-placeholder {
  color: #000;
}
@media screen and (min-width: 1024px) {
  .input_number {
    height: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number {
    height: 4.4rem;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input_number_decrement,
.input_number_increment {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  cursor: pointer;
  transition: color, opacity 0.3s ease;
}
.input_number_decrement.input_number_decrement--transparent,
.input_number_increment.input_number_decrement--transparent {
  color: #bb753a;
}
.input_number_decrement.input_number_decrement--gold,
.input_number_increment.input_number_decrement--gold {
  background-color: #bb753a;
  color: #fff;
}
.input_number_decrement:hover.input_number_decrement--transparent, .input_number_decrement:focus.input_number_decrement--transparent,
.input_number_increment:hover.input_number_decrement--transparent,
.input_number_increment:focus.input_number_decrement--transparent {
  color: #000;
}
.input_number_decrement:hover.input_number_decrement--gold, .input_number_decrement:focus.input_number_decrement--gold,
.input_number_increment:hover.input_number_decrement--gold,
.input_number_increment:focus.input_number_decrement--gold {
  opacity: 0.7;
}
@media screen and (min-width: 1024px) {
  .input_number_decrement,
.input_number_increment {
    width: 5.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number_decrement,
.input_number_increment {
    width: 4.6rem;
  }
}

.input_number_decrement {
  left: 0;
}
@media screen and (min-width: 1024px) {
  .input_number_decrement {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number_decrement {
    padding: 0 1.6rem;
  }
}

.input_number_increment {
  right: 0;
}
@media screen and (min-width: 1024px) {
  .input_number_increment {
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .input_number_increment {
    padding: 0 1.2rem;
  }
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/cart-form.scss ***!
  \*************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .cart_content {
    padding-top: 5.8rem;
  }
}

.cart_content .woocommerce:not(:last-child) {
  margin-bottom: 6.7rem;
}
@media screen and (min-width: 1024px) {
  .cart_content .woocommerce {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .cart_content__col {
    width: 47.2%;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content__col {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .cart_content .woocommerce-row {
    width: 97.6%;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content .woocommerce-row {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content .woocommerce-row {
    margin-bottom: 1.5rem;
  }
}

.cart_content .woocommerce-cart-form {
  border-bottom: 1px solid #f2e4d1;
}
@media screen and (min-width: 768px) {
  .cart_content .woocommerce-cart-form:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .cart_content .woocommerce-cart-form:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .cart_content .woocommerce-cart-form {
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .cart_content .woocommerce-cart-form {
    padding-bottom: 2rem;
  }
}

.cart_content__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  .cart_content__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content__title {
    font-size: 2.2rem;
  }
}
.cart_content__title:not(:last-child) {
  margin-bottom: 1rem;
}

.cart_content__text {
  font-weight: 400;
  max-width: 94rem;
  line-height: 1.48;
}
@media screen and (min-width: 1024px) {
  .cart_content__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content__text {
    font-size: 1.4rem;
  }
}
.cart_content__text:not(:last-child) {
  margin-bottom: 4.2rem;
}

.cart_content .woocommerce-cart-form {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .cart_content .woocommerce-cart-form {
    max-width: 78.2rem;
  }
}

.cart_content table {
  width: 100%;
}

.cart_content thead {
  border-bottom: 1px solid #f2e4d1;
}

.cart_content thead tr th {
  padding-bottom: 1.2rem;
}
@media screen and (max-width: 639px) {
  .cart_content thead tr th:nth-child(2), .cart_content thead tr th:nth-child(4) {
    display: none;
  }
}

.cart_content thead .product-name,
.cart_content thead .product-price,
.cart_content thead .product-quantity,
.cart_content thead .product-subtotal {
  padding-right: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.09em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #868686;
}

.cart_content .cart_item td:not(:last-child) {
  padding-right: 1rem;
}

.cart_content .cart_item:first-child td {
  padding-top: 2.3rem;
  padding-bottom: 0.5rem;
}

.cart_content .cart_item:not(:first-child) td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .cart_content .cart_item td:nth-child(2) {
    padding-left: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content .cart_item td:nth-child(2) {
    padding-left: 0.5rem;
  }
}

.cart_content .cart_item .product-thumbnail {
  min-width: 8rem;
  width: 8rem;
}
.product-thumbnail a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.product-thumbnail a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  opacity: 0;
}
.product-thumbnail a:hover::before {
  opacity: 1;
}
.product-thumbnail a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart_content thead .product-name {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .cart_content .cart_item .product-name {
    width: 37.3%;
  }
}
@media (max-width: 1023px) and (min-width: 640px) {
  .cart_content .cart_item .product-name {
    width: 44%;
  }
}
@media screen and (max-width: 639px) {
  .cart_content .cart_item .product-name {
    width: auto;
  }
}
.cart_content .cart_item .product-name a {
  position: relative;
  font-weight: 500;
  letter-spacing: -0.012em;
  text-align: left;
  color: #000;
}
@media screen and (min-width: 768px) {
  .cart_content .cart_item .product-name a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .cart_content .cart_item .product-name a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .cart_content .cart_item .product-price {
    width: 16.8%;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content .cart_item .product-price {
    width: 10%;
  }
}
@media screen and (max-width: 639px) {
  .cart_content .cart_item .product-price {
    display: none;
  }
}

.cart_content .cart_item .product-quantity {
  width: 19.8%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.cart_content .cart_item .product-quantity .quantity {
  width: 100%;
  height: max-content;
}
@media screen and (max-width: 479px) {
  .cart_content .cart_item .product-quantity .input_number {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 639px) {
  .product-quantity {
    width: 30%;
  }
}

.cart_content .cart_item .product-price,
.cart_content .cart_item .product-subtotal {
  padding-bottom: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #000;
}
.cart_content .cart_item .product-price bdi,
.cart_content .cart_item .product-subtotal bdi {
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .cart_content .cart_item .product-price,
.cart_content .cart_item .product-subtotal {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .cart_content .cart_item .product-price,
.cart_content .cart_item .product-subtotal {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 639px) {
  .cart_content .cart_item .product-price,
.cart_content .cart_item .product-subtotal {
    display: none;
  }
}

.cart_content .cart_item .product-subtotal {
  width: 13.5%;
}

@media screen and (max-width: 1023px) {
  .product-remove {
    width: 5%;
  }
}

.cart_content .cart_item .product-remove a {
  transition: color 0.3s ease;
  will-change: color;
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #bb753a;
}
.cart_content .cart_item .product-remove a:hover, .cart_content .cart_item .product-remove a:focus {
  text-decoration: none;
  color: #945d2e;
}

.cart_content tbody tr .actions {
  padding-top: 1.5rem;
}

.cart_content .actions .button-continue-shopping {
  letter-spacing: -0.2px;
  cursor: pointer;
  font-weight: 500;
  color: #bb753a;
  border: 1px solid #bb753a;
  background-color: transparent;
  transition: background-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Geograph", sans-serif;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .cart_content .actions .button-continue-shopping {
    padding: 0 2.2rem;
    height: 4.8rem;
    line-height: 4.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content .actions .button-continue-shopping {
    padding: 0 1.6rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.4rem;
  }
}
.cart_content .actions .button-continue-shopping:hover, .cart_content .actions .button-continue-shopping:focus {
  text-decoration: none;
}
.cart_content .actions .button-continue-shopping:hover {
  border-color: #8c592e;
  background-color: #8c592e;
  color: #fff;
}
@media screen and (min-width: 479px) {
  .cart_content .actions .button-continue-shopping {
    float: left;
  }
}
@media screen and (max-width: 480px) {
  .cart_content .actions .button-continue-shopping {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.cart_content .actions button {
  letter-spacing: -0.2px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #bb753a;
  border: 1px solid #bb753a;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Geograph", sans-serif;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .cart_content .actions button {
    padding: 0 2.2rem;
    height: 4.8rem;
    line-height: 4.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .cart_content .actions button {
    padding: 0 1.6rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.4rem;
  }
}
.cart_content .actions button:hover, .cart_content .actions button:focus {
  text-decoration: none;
}
.cart_content .actions button:not(:disabled):hover {
  border-color: #8c592e;
  background-color: #8c592e;
}
.cart_content .actions button:disabled {
  opacity: 0.25;
  pointer-events: none;
}
.onboarding_2--active_state .cart_content .actions button {
  opacity: 1;
  pointer-events: all;
}
.cart_content .actions button:disabled {
  opacity: 0.25;
}
@media screen and (min-width: 479px) {
  .cart_content .actions button {
    float: right;
  }
}
@media screen and (max-width: 480px) {
  .cart_content .actions button {
    width: 100%;
  }
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/coupon-block.scss ***!
  \****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.coupon {
  display: flex;
}

.coupon .input-text {
  display: block;
  width: 100%;
  font-family: "Geograph", sans-serif;
  box-shadow: inset 0 0 0 1px #868686;
  background-color: #fff;
  border: none;
  background-clip: padding-box;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  will-change: background, box-shadow;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0rem 4.5rem 0.3rem 1.9rem;
  max-width: 33.4rem;
  box-shadow: inset 0 0 0 1px #bb753a;
}
.coupon .input-text::-webkit-input-placeholder {
  color: #000;
}
.coupon .input-text::-moz-placeholder, .coupon .input-text:-moz-placeholder {
  color: #000;
  opacity: 1;
}
.coupon .input-text:-ms-input-placeholder {
  color: #000;
}
.coupon .input-text::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}
.coupon .input-text::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.coupon .input-text::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.coupon .input-text::-webkit-search-decoration, .coupon .input-text::-webkit-search-cancel-button, .coupon .input-text::-webkit-search-results-button, .coupon .input-text::-webkit-search-results-decoration {
  display: none;
}
.coupon .input-text:hover, .coupon .input-text:focus {
  background: transparent;
  box-shadow: inset 0 0 0 2px #bb753a;
}
.get_in_touch .coupon .input-text, .popup_email .coupon .input-text {
  height: 4.4rem;
  line-height: 4.2rem;
}
@media screen and (min-width: 1024px) {
  .onboarding_form .coupon .input-text {
    padding-left: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .coupon .input-text {
    height: 4.8rem;
    padding: 0rem 4.6rem 0.4rem 1.4rem;
    font-size: 1.6rem;
    color: #000;
  }
}
@media screen and (max-width: 1023px) {
  .coupon .input-text {
    height: 4.4rem;
    line-height: 4.2rem;
    padding: 0rem 2.6rem 0.4rem 1.6rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -0.016em;
  }
}
.coupon .input-text:focus::placeholder {
  color: transparent;
}

.coupon .button {
  letter-spacing: -0.2px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #bb753a;
  border: 1px solid #bb753a;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Geograph", sans-serif;
  cursor: pointer;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .coupon .button {
    padding: 0 2.2rem;
    height: 4.8rem;
    line-height: 4.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .coupon .button {
    padding: 0 1.6rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.4rem;
  }
}
.coupon .button:hover, .coupon .button:focus {
  text-decoration: none;
}
.coupon .button:not(:disabled):hover {
  border-color: #8c592e;
  background-color: #8c592e;
}
.coupon .button:disabled {
  opacity: 0.25;
  pointer-events: none;
}
.onboarding_2--active_state .coupon .button {
  opacity: 1;
  pointer-events: all;
}
/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/product-pairs-list-mixin.scss ***!
  \****************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.product_pairs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .product_pairs {
    align-items: stretch;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs {
    align-items: center;
    align-content: center;
  }
}

.product_pairs__image {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.product_pairs__image::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
@media screen and (min-width: 1024px) {
  .product_pairs__image:not(:last-child) {
    margin-right: 3.9rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs__image:not(:last-child) {
    margin-right: 1.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .featured_recipe .product_pairs__image:not(:last-child) {
    margin-right: 3.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .featured_recipe .product_pairs__image:not(:last-child) {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .featured_recipe .product_pairs__image {
    width: 16rem;
  }
}
@media screen and (max-width: 1023px) {
  .featured_recipe .product_pairs__image {
    width: 42%;
  }
}
.cuts_info__post_list_item .product_pairs__image {
  width: 16rem;
}
.cuts_info__post_list_item .product_pairs__image:not(:last-child) {
  margin-right: 3rem;
}
.product_pairs__image:hover .product_pairs_img, .product_pairs__image:focus .product_pairs_img {
  scale: 1.06;
}
@media screen and (min-width: 1024px) {
  .product_pairs__image {
    width: 20.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs__image {
    width: 43%;
    min-height: 12rem;
    max-height: 18rem;
  }
}

.product_pairs_img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: scale 0.3s ease;
}

.product_pairs_img__in {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_pairs__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product_pairs__title {
  font-weight: 500;
  max-width: 29.8rem;
  color: #000;
  letter-spacing: -0.018em;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .product_pairs__title {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs__title {
    font-size: 1.8rem;
  }
}
.product_pairs__title:not(:last-child) {
  margin-bottom: 1rem;
}
.featured_recipe .product_pairs__title:not(:last-child) {
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 768px) {
  .featured_recipe .product_pairs__title {
    font-size: 2.4rem;
  }
}
.cuts_info__post_list_item .product_pairs__title {
  letter-spacing: -0.055em;
  line-height: 1.08;
}
.cuts_info__post_list_item .product_pairs__title:not(:last-child) {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .cuts_info__post_list_item .product_pairs__title {
    font-size: 2.6rem;
  }
}

.product_pairs__title a {
  color: #000;
  transition: color 0.3s;
}
.product_pairs__title a:hover, .product_pairs__title a:focus {
  text-decoration: none;
  color: #615656;
}

.product_pairs__rating {
  display: flex;
  align-items: center;
  color: #ce9c53;
}
.cuts_info__post_list_item .product_pairs__rating {
  font-size: 1.4rem;
  letter-spacing: -0.018em;
}
.cuts_info__post_list_item .product_pairs__rating span {
  padding-left: 0.8rem;
}
.product_pairs__rating:focus, .product_pairs__rating:hover {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .product_pairs__rating:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs__rating {
    order: 3;
  }
  .product_pairs__rating img {
    width: 50%;
  }
}

.product_pairs__price {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.046em;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .featured_recipe .product_pairs__price {
    font-size: 2rem;
  }
}
.cuts_info__post_list_item .product_pairs__price {
  font-size: 2rem;
  letter-spacing: 0.052em;
}
@media screen and (min-width: 1024px) {
  .product_pairs__price {
    font-size: 2.2rem;
  }
  .product_pairs__price:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs__price {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .product_pairs__price {
    margin-bottom: 0.6rem;
  }
}

.product_pairs__old_price {
  font-weight: 300;
  color: #989898;
}
@media screen and (min-width: 1024px) {
  .product_pairs__old_price:not(:last-child) {
    margin-right: 1.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs__old_price:not(:last-child) {
    margin-right: 0.2rem;
  }
}

@media screen and (max-width: 1023px) {
  .product_pairs__buttons {
    order: 4;
  }
}
@media screen and (max-width: 767px) {
  .product_pairs__buttons {
    display: none;
  }
}

.product_pairs_list__wrap {
  background-color: #fcf5ec;
}
.product_pairs_list__wrap:not(:last-child) {
  margin-bottom: 4rem;
}
.product_pairs_list__wrap.product_pairs_list__wrap--bg_mod {
  background-color: #f0f2f4;
}
@media screen and (min-width: 1024px) {
  .product_pairs_list__wrap {
    padding: 4.8rem 6.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs_list__wrap {
    padding: 2.4rem 2.4rem 2.8rem;
  }
}

.product_pairs_list__title {
  font-weight: 500;
  letter-spacing: -0.017em;
}
@media screen and (min-width: 1024px) {
  .product_pairs_list__title {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .product_pairs_list__title {
    font-size: 1.8rem;
  }
}
.product_pairs_list__title:not(:last-child) {
  margin-bottom: 2.4rem;
}

.product_pairs_list__container {
  margin: 0 -2rem -2rem 0;
}
@media screen and (min-width: 1024px) {
  .product_pairs_list__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.product_pairs_list__item {
  padding: 0 2rem 2rem 0;
}
@media screen and (min-width: 1024px) {
  .product_pairs_list__item {
    width: 50%;
  }
}

.product_pairs_list__button {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .product_pairs_list__button .btn_1 {
    width: 100%;
  }
}

/*# sourceMappingURL=src_js_pages_cart_js.css.map*/