/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/category-titled-slider.scss ***!
  \**************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .banner_slider + .category_titled_slider {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/category-slider.scss ***!
  \*******************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.category_slider {
  position: relative;
}

.category_slider__button {
  position: absolute;
  top: 50%;
  z-index: 3;
}
.category_slider__button.category_slider__button--prev_mod {
  left: 0;
  transform: translate(50%, -50%) rotate(180deg);
}
@media screen and (min-width: 1024px) {
  .category_slider__button.category_slider__button--prev_mod {
    margin-left: calc(50% - 50vw - 4px);
  }
}
@media screen and (max-width: 1023px) {
  .category_slider__button.category_slider__button--prev_mod {
    margin-left: calc(50% - 50vw - 1.2rem);
  }
}
.category_slider__button.category_slider__button--next_mod {
  right: 0;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .category_slider__button.category_slider__button--next_mod {
    margin-right: calc(50% - 50vw - 4px);
  }
}
@media screen and (max-width: 1023px) {
  .category_slider__button.category_slider__button--next_mod {
    margin-right: calc(50% - 50vw - 1.2rem);
  }
}
.category_slider__button.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .category_slider__button {
    margin-top: -0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .category_slider__button {
    margin-top: -1.8rem;
  }
}

.category_slider__wrap.swiper {
  overflow: visible;
}
@media screen and (min-width: 1024px) {
  .category_slider__wrap.swiper {
    margin-right: -2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .category_slider__wrap.swiper {
    margin-right: -1.5rem;
  }
}

.category_slider__item {
  min-height: clamp(28rem, 30vw, 48rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.category_slider__item.swiper-slide {
  height: auto;
}
@media screen and (min-width: 1024px) {
  .category_slider__item {
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .category_slider__item {
    padding-right: 1.5rem;
  }
}
/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/category-item.scss ***!
  \*****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.category_item {
  position: relative;
  z-index: 1;
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
}
.category_item::before, .category_item::after {
  z-index: 1;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
}
.category_item::before {
  background: linear-gradient(29deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.category_item::after {
  background: linear-gradient(29deg, #bb753a 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
}
.category_item:hover, .category_item:focus {
  text-decoration: none;
}
.category_item:hover .category_item_img, .category_item:focus .category_item_img {
  scale: 1.06;
}
.category_item:hover::before, .category_item:focus::before {
  opacity: 0;
}
.category_item:hover::after, .category_item:focus::after {
  opacity: 0.8;
}
@media screen and (min-width: 1024px) {
  .category_item {
    padding: 4.2rem 3.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .category_item {
    padding: 2.8rem 2.4rem;
  }
}

.category_item_img {
  z-index: 0;
  transition: scale 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.category_item_img__in {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category_item__content {
  position: relative;
  z-index: 2;
  margin-top: auto;
  color: #fff;
}

.category_item__title {
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.05;
}
@media screen and (min-width: 1024px) {
  .category_item__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .category_item__title {
    font-size: 2.2rem;
  }
}
.category_item__title:not(:last-child) {
  margin-bottom: 0.8rem;
}

.category_item__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .category_item__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .category_item__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .category_item__text {
    line-height: 1.5;
  }
}
@media screen and (max-width: 1023px) {
  .category_item__text {
    line-height: 1.14;
    letter-spacing: -0.016em;
  }
}
/*!**************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/swiper/modules/effect-fade/effect-fade.min.css ***!
  \**************************************************************************************************************************************************************************************************************/
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/banner-slider.scss ***!
  \*****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.banner_slider {
  padding: 0;
  background-color: #fcf5ec;
}

.banner_slider__body {
  position: relative;
}

.banner_slider__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

@media screen and (min-width: 1024px) {
  .banner_slider__column {
    min-height: 68rem;
  }
  .banner_slider__column:nth-child(2n+1) {
    width: 62.8%;
  }
  .banner_slider__column:nth-child(2n+2) {
    width: 37.2%;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__column {
    width: 100%;
  }
}

.banner_slider_img {
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .banner_slider_img {
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider_img {
    padding-bottom: 85%;
  }
}

.banner_slider_img__in {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_slider__content {
  height: 100%;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .banner_slider__content {
    padding: 9.4rem var(--gl-indent) 17rem 8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__content {
    padding: 3.3rem 2.9rem 9.6rem;
  }
}

.banner_slider__container {
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .banner_slider__container {
    max-width: 40rem;
  }
}

.banner_slider__title {
  font-weight: 500;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .banner_slider__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__title:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__title {
    letter-spacing: -0.018em;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__title {
    letter-spacing: -0.024em;
  }
  .banner_slider__title br {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .banner_slider__link {
    width: 100%;
  }
}

.banner_slider__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .banner_slider__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__text:not(:last-child) {
    margin-bottom: 2.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__text:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_slider__text {
    line-height: 1.5;
    max-width: 41.1rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__text {
    line-height: 1.43;
    letter-spacing: -0.014em;
  }
}

.banner_slider__wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  .banner_slider__wrap {
    width: 37.2%;
    margin-left: auto;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__wrap {
    width: 100%;
    padding: 0 2.9rem 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner_slider__controls {
    padding-left: 6rem;
    margin-bottom: 9rem;
  }
}

.banner_slider__button {
  flex-shrink: 0;
}
.banner_slider__button.banner_slider__button--prev_mod:not(:last-child) {
  margin-right: 0.7rem;
}
@media screen and (min-width: 1024px) {
  .banner_slider__button.banner_slider__button--next_mod:not(:last-child) {
    margin-right: 2.3rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_slider__button.banner_slider__button--next_mod:not(:last-child) {
    margin-right: 1.5rem;
  }
}
/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/slider-controls.scss ***!
  \*****************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.slider_controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.slider_controls__pagination {
  color: #bb753a;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .slider_controls__pagination {
    font-size: 2rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 1023px) {
  .slider_controls__pagination {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .banner_slider .slider_controls__pagination {
    letter-spacing: -0.02em;
  }
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/post-preview.scss ***!
  \****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.post_preview {
  background-color: #fcf5ec;
}
.post_preview.post_preview--bg_mod_1 {
  background-color: #f0f2f4;
}
.post_preview.post_preview--bg_mod_2 {
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .post_preview {
    padding-top: 8rem;
    padding-bottom: 9rem;
  }
}

.post_preview__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 -2.3rem -5rem 0;
}

.post_preview__video_trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 10.4rem;
  height: 10.4rem;
  color: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  will-change: transform;
}
.post_preview__video_trigger:hover {
  transform: translate(-50%, -50%) scale(1.1);
  color: #bb753a;
}
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/post-preview-card.scss ***!
  \*********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .post_preview_card {
    width: 50%;
    padding: 0 2.3rem 5rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card {
    width: 100%;
    padding: 0 2.3rem 1.8rem 0;
  }
}

.post_preview_card__img_link {
  display: block;
}
.post_preview_card__img_link:hover .post_preview_card__img_wrap::before, .post_preview_card__img_link:focus .post_preview_card__img_wrap::before {
  opacity: 0.6;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__img_link:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__img_link:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

.post_preview_card__img_wrap {
  position: relative;
}
.post_preview_card__img_wrap::before {
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(5deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
}

.post_preview_card__img_w {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__img_w {
    max-height: 28rem;
    padding-bottom: 46.6%;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__img_w {
    padding-bottom: 57%;
  }
}

.post_preview_card__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post_preview_card__title {
  color: #000;
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .post_preview_card__title {
    letter-spacing: -0.018em;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__title {
    letter-spacing: -0.03em;
  }
}
@media screen and (min-width: 1024px) {
  .post_preview_card__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__title:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}

.post_preview_card__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__text {
    font-size: 1.4rem;
  }
}
.post_preview_card__text:not(:last-child) {
  margin-bottom: 1.7rem;
}
@media screen and (min-width: 1024px) {
  .post_preview_card__text {
    width: 90%;
    line-height: 1.48;
  }
}
@media screen and (max-width: 1023px) {
  .post_preview_card__text {
    letter-spacing: -0.015em;
    line-height: 1.41;
  }
}

@media screen and (max-width: 1023px) {
  .post_preview_card__btn {
    display: none;
  }
}
/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/learn-more-about.scss ***!
  \********************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .learn_home_about {
    padding-top: 9.4rem;
    padding-bottom: 9.4rem;
  }
}

.learn_home_about__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  .learn_home_about__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .learn_home_about__title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .learn_home_about__title {
    letter-spacing: -0.016em;
  }
  .learn_home_about__title:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .learn_home_about__title {
    letter-spacing: -0.028em;
  }
  .learn_home_about__title:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .learn_home_about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin: 0 -2.4rem -2.4rem 0;
  }
}

@media screen and (min-width: 768px) {
  .learn_home_about__list_item {
    width: 50%;
    padding: 0 2.4rem 2.4rem 0;
  }
}
@media screen and (max-width: 767px) {
  .learn_home_about__list_item {
    width: 100%;
  }
  .learn_home_about__list_item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.learn_home_about_item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}
.learn_home_about_item::before, .learn_home_about_item::after {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
}
.learn_home_about_item::before {
  opacity: 0.6;
  background: linear-gradient(5deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.learn_home_about_item::after {
  opacity: 0;
  background: linear-gradient(29deg, #bb753a 0%, rgba(0, 0, 0, 0) 100%);
}
.learn_home_about_item:hover, .learn_home_about_item:focus {
  text-decoration: none;
}
.learn_home_about_item:hover::before, .learn_home_about_item:focus::before {
  opacity: 0;
}
.learn_home_about_item:hover::after, .learn_home_about_item:focus::after {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .learn_home_about_item {
    min-height: 37.2rem;
    padding: 4.3rem 4.4rem;
  }
}
@media screen and (max-width: 767px) {
  .learn_home_about_item {
    min-height: 15.2rem;
    padding: 2rem;
  }
}

.learn_home_about_item__img {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.learn_home_about__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learn_home_about_item__content {
  position: relative;
  z-index: 2;
}

.learn_home_about_item__title {
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .learn_home_about_item__title {
    font-size: 4.2rem;
    letter-spacing: -0.016em;
  }
}
@media screen and (max-width: 767px) {
  .learn_home_about_item__title {
    font-size: 2.2rem;
    letter-spacing: -0.03em;
  }
}

.learn_home_about_item__descr {
  font-weight: 400;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .learn_home_about_item__descr {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .learn_home_about_item__descr {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .learn_home_about_item__descr {
    line-height: 1.4;
  }
}
@media screen and (max-width: 767px) {
  .learn_home_about_item__descr {
    line-height: 1.14;
    letter-spacing: -0.018em;
  }
}
/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/products.scss ***!
  \************************************************************************************************************************************************************************************/
.products__item:not(:last-child) {
  padding-bottom: 5.4rem;
}

/*# sourceMappingURL=src_js_pages_shop_js.css.map*/