/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/cooking-tabs.scss ***!
  \****************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.cooking_tabs {
  background-color: #f0f2f4;
}

.cooking_tabs_head {
  max-width: 80.6rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs_head:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs_head:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.cooking_tabs_head__title {
  font-weight: 500;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.018em;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs_head__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs_head__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .cooking_tabs_head__title:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs_head__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.cooking_tabs_head__description {
  font-weight: 400;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs_head__description {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs_head__description {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .cooking_tabs__mask {
    position: relative;
    margin-right: calc(var(--gl-indent) * -1);
    margin-left: calc(var(--gl-indent) * -1);
  }
  .cooking_tabs__mask:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 4.4rem;
    height: 100%;
    background: linear-gradient(270deg, #f0f2f4 0%, rgba(240, 242, 244, 0) 100%);
    content: "";
  }
}

@media screen and (min-width: 1024px) {
  .cooking_tabs__nav.cooking_tabs__nav {
    margin-bottom: 3.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__nav.cooking_tabs__nav {
    padding-bottom: 1.6rem;
    margin-bottom: 1rem;
  }
}

.cooking_tabs__nav_list.cooking_tabs__nav_list {
  overflow: visible;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__nav_list.cooking_tabs__nav_list {
    margin: 0 -2.5rem -2rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__nav_list.cooking_tabs__nav_list {
    margin: 0 -1.2rem 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__nav_list.cooking_tabs__nav_list .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.cooking_tabs__nav_item.cooking_tabs__nav_item {
  width: auto;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__nav_item.cooking_tabs__nav_item {
    padding: 0 2.5rem 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__nav_item.cooking_tabs__nav_item {
    padding: 0 1.2rem 0;
  }
}

.cooking_tabs__nav_link {
  position: relative;
  font-weight: 400;
  letter-spacing: 0.11em;
  line-height: 1.33;
  font-family: "Geograph", sans-serif;
  color: #868686;
  transition: color 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.cooking_tabs__nav_link:after {
  position: absolute;
  left: -1px;
  bottom: -0.3rem;
  width: 100%;
  height: 2px;
  background-color: #bb753a;
  transition: opacity 0.3s ease;
  opacity: 0;
  content: "";
}
.cooking_tabs__nav_link:focus, .cooking_tabs__nav_link:hover {
  color: #535353;
  text-decoration: none;
}
.swiper-slide-thumb-active .cooking_tabs__nav_link {
  color: #bb753a;
}
.swiper-slide-thumb-active .cooking_tabs__nav_link:after {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__nav_link {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__nav_link {
    font-size: 1.4rem;
    white-space: nowrap;
  }
}

.cooking_tabs__content.cooking_tabs__content {
  position: relative;
  background-color: #fff;
  overflow: visible;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__content.cooking_tabs__content {
    padding: 3.6rem 5.6rem 5.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__content.cooking_tabs__content {
    padding: 2.4rem 4.2rem 3.8rem;
  }
}

.cooking_tabs__content_in.cooking_tabs__content_in {
  height: auto;
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__content_in.cooking_tabs__content_in {
    width: 100%;
  }
}

.cooking_tabs__content_row.cooking_tabs__content_row--title_mod {
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__content_row.cooking_tabs__content_row--title_mod {
    padding-bottom: 3rem;
    margin-bottom: 3.6rem;
    border-bottom: 2px solid #f0f2f4;
    font-size: 1.8rem;
    line-height: 1.78;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__content_row.cooking_tabs__content_row--title_mod {
    display: none;
  }
}
.cooking_tabs__content_row.cooking_tabs__content_row--descrip_mod {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__content_row.cooking_tabs__content_row--descrip_mod {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1024px) {
  .cooking_tabs__content_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding: 0 2.4rem 0 2.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__content_row {
    position: relative;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .cooking_tabs__content_col {
    width: 20%;
    padding: 0 1rem;
    line-height: 1.4;
  }
}
@media screen and (max-width: 1023px) {
  .cooking_tabs__content_col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    position: relative;
  }
  .cooking_tabs__content_col::after {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #f2e4df;
    content: "";
  }
  .cooking_tabs__content_col:not(:last-child) {
    padding-bottom: 1.5rem;
  }
  .cooking_tabs__content_col::before {
    display: block;
    flex: 0 0 50%;
    padding-right: 2rem;
    margin-right: 2rem;
    font-weight: 500;
    content: attr(data-label);
  }
}

.cooking_tab__button {
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -3rem;
}
.cooking_tab__button.cooking_tab__button--prev_mod {
  left: -2.2rem;
}
.cooking_tab__button.cooking_tab__button--next_mod {
  right: -2.2rem;
}
@media screen and (min-width: 1024px) {
  .cooking_tab__button {
    display: none;
  }
}
/*!**************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/swiper/modules/effect-fade/effect-fade.min.css ***!
  \**************************************************************************************************************************************************************************************************************/
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/swiper/modules/thumbs/thumbs.min.css ***!
  \****************************************************************************************************************************************************************************************************/

/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/slider-controls.scss ***!
  \*****************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.slider_controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.slider_controls__pagination {
  color: #bb753a;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .slider_controls__pagination {
    font-size: 2rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 1023px) {
  .slider_controls__pagination {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .banner_slider .slider_controls__pagination {
    letter-spacing: -0.02em;
  }
}

/*# sourceMappingURL=src_js_pages_our-products-wagyu-cooking-tips_js.css.map*/