/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/banner-v1.scss ***!
  \*************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.banner_v1_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.banner_v1_bg__in {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_v1__wrap {
  position: relative;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .banner_v1__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    padding: 4.8rem 6.4rem 6.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__wrap {
    padding: 2rem 2.4rem 3.4rem;
  }
}

.banner_v1__col {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .banner_v1__col {
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1024px) {
  .banner_v1__col:nth-child(2n-1) {
    width: 40%;
    padding-top: 0.6rem;
    padding-right: 3rem;
  }
  .banner_v1__col:nth-child(2n-1)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #f2e4d1;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__col:nth-child(2n-1) {
    padding-bottom: 3.4rem;
  }
  .banner_v1__col:nth-child(2n-1):not(:last-child) {
    margin-bottom: 2.2rem;
  }
  .banner_v1__col:nth-child(2n-1)::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #f2e4d1;
  }
}
@media screen and (min-width: 1024px) {
  .banner_v1__col:nth-child(2n-2) {
    width: 60%;
    padding-left: 5.8rem;
  }
}

.banner_v1__title {
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .banner_v1__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_v1__title {
    letter-spacing: -0.018em;
    line-height: 1;
  }
  .banner_v1__title:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__title {
    letter-spacing: -0.026em;
    line-height: 1.08;
  }
  .banner_v1__title:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.banner_v1__text {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .banner_v1__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_v1__text {
    max-width: 38.2rem;
    line-height: 1.5;
  }
  .banner_v1__text:not(:last-child) {
    margin-bottom: 2.9rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__text {
    letter-spacing: -0.018em;
    line-height: 1.42;
  }
  .banner_v1__text:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.banner_v1__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
@media screen and (min-width: 1024px) {
  .banner_v1__links {
    margin: 0 -2rem -2rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__links {
    margin: 0 -1.4rem -1.4rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .banner_v1__link {
    padding: 0 2rem 2rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1__link {
    padding: 0 1.4rem 1.4rem 0;
  }
}

.banner_v1_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
@media screen and (min-width: 1024px) {
  .banner_v1_list {
    margin: 0 -4rem -3.4rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1_list {
    margin: 0 -2rem -1.4rem 0;
  }
}

.banner_v1_list__item {
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  .banner_v1_list__item {
    padding: 0 4rem 3.4rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1_list__item {
    padding: 0 2rem 1.4rem 0;
  }
}
@media screen and (min-width: 375px) {
  .banner_v1_list__item {
    width: 50%;
  }
}
@media screen and (max-width: 374px) {
  .banner_v1_list__item {
    width: 100%;
  }
}

.banner_v1_item__img {
  width: 8.8rem;
  height: 8.8rem;
}
.banner_v1_item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .banner_v1_item__img {
    width: 8.8rem;
    height: 8.8rem;
  }
  .banner_v1_item__img:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1_item__img {
    width: 7.2rem;
    height: 7.2rem;
  }
  .banner_v1_item__img:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.banner_v1_item__title {
  font-weight: 500;
  line-height: 1.15;
}
@media screen and (min-width: 1024px) {
  .banner_v1_item__title {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1_item__title {
    font-size: 1.8rem;
  }
}
.banner_v1_item__title:not(:last-child) {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 1024px) {
  .banner_v1_item__title {
    letter-spacing: -0.016em;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1_item__title {
    letter-spacing: -0.022em;
  }
}

.banner_v1_item__text {
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  .banner_v1_item__text {
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .banner_v1_item__text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1023px) {
  .banner_v1_item__text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v1_item__text {
    font-size: 1.2rem;
    line-height: 1.33;
    letter-spacing: -0.016em;
  }
}
/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/swiper/modules/effect-fade/effect-fade.scss ***!
  \***********************************************************************************************************************************************************************************************************/
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/section-head.scss ***!
  \**************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.section_head {
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .section_head:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}
@media screen and (max-width: 767px) {
  .section_head:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .section_head {
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .section_head {
    align-items: flex-end;
  }
}

h2.section_head__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  h2.section_head__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  h2.section_head__title {
    font-size: 2.6rem;
  }
}

h3.section_head__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  h3.section_head__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  h3.section_head__title {
    font-size: 2.2rem;
  }
}

.section_head__title:not(:last-child) {
  margin-right: 1.2rem;
}

.section_head__right {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .section_head__right {
    padding-bottom: 4px;
  }
}
/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/members-slider.scss ***!
  \****************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.members_slider {
  width: 100%;
  background-color: #fcf5ec;
}
.members_slider .swiper-wrapper {
  align-items: stretch;
  align-content: stretch;
}

.members_slider__slide.swiper-slide-active {
  pointer-events: initial;
}
@media screen and (min-width: 768px) {
  .members_slider__slide {
    display: flex !important;
    flex-shrink: 0;
    height: unset !important;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__slide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
}

.members_slider__media {
  position: relative;
}
@media screen and (min-width: 768px) {
  .members_slider__media {
    flex-shrink: 0;
    width: clamp(1px, 44.2%, 48rem);
    min-height: 43.2rem;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__media {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .memberships_tabs .members_slider__media {
    width: 41.6rem;
    min-height: 37.5rem;
  }
}
.members_slider__video_trigger {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .members_slider__video_trigger {
    width: 12rem;
    height: 12rem;
    margin: -6rem 0 0 -6rem;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__video_trigger {
    width: 8rem;
    height: 8rem;
    margin: -4rem 0 0 -4rem;
  }
}

@media screen and (min-width: 768px) {
  .members_slider__video_wrap,
.members_slider__img_wrap {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__video_wrap,
.members_slider__img_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.members_slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.members_slider__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 1024px) {
  .memberships_tabs .members_slider__content {
    padding: 4.6rem 6.6% 3.2rem 5.7%;
  }
}
@media screen and (max-width: 1023px) {
  .memberships_tabs .members_slider__content {
    padding: 2.4rem 2.4rem 3.2rem;
  }
}
@media screen and (min-width: 768px) {
  .members_slider__content {
    padding: 6.3rem 4.5% 6.5rem 5.7%;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__content {
    padding: 2.6rem 2.4rem 2.8rem;
  }
}

.members_slider__subtitle {
  font-weight: 500;
  letter-spacing: 0.11em;
  color: #868686;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  color: #bb753a;
}
@media screen and (min-width: 1024px) {
  .members_slider__subtitle {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .members_slider__subtitle {
    font-size: 1.4rem;
  }
  .members_slider .members_slider__subtitle {
    font-size: 1.2rem;
  }
  .memberships_tabs .members_slider__subtitle {
    letter-spacing: 0.078em;
  }
}

.members_slider__title {
  font-weight: 500;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1024px) {
  .members_slider__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .members_slider__title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .members_slider__title:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__title {
    letter-spacing: -0.03em;
  }
  .members_slider__title:not(:last-child) {
    margin-bottom: 0.6rem;
  }
}

.members_slider__descr {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .members_slider__descr {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .members_slider__descr {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .members_slider__descr {
    line-height: 1.47;
    letter-spacing: 0.002em;
  }
  .members_slider__descr:not(:last-child) {
    margin-bottom: 3.8rem;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__descr {
    line-height: 1.44;
    letter-spacing: -0.016em;
    color: rgba(0, 0, 0, 0.8);
  }
  .members_slider__descr:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.members_slider__controls {
  margin-top: auto;
}

.members_slider__controls_btn:not(:first-child) {
  margin-left: 0.8rem;
}

@media screen and (min-width: 768px) {
  .members_slider__pagination:not(:first-child) {
    margin-left: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .members_slider__pagination:not(:first-child) {
    margin-left: 1.4rem;
  }
}
/*!************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/members-slider-section.scss ***!
  \************************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .section + .section.members_slider_section {
    padding-top: 1.2rem;
  }
}
/*!*****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/universal/slider-controls.scss ***!
  \*****************************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

.slider_controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.slider_controls__pagination {
  color: #bb753a;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .slider_controls__pagination {
    font-size: 2rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 1023px) {
  .slider_controls__pagination {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .banner_slider .slider_controls__pagination {
    letter-spacing: -0.02em;
  }
}
/*!**************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./node_modules/swiper/modules/effect-fade/effect-fade.min.css ***!
  \**************************************************************************************************************************************************************************************************************/
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/banner-v2.scss ***!
  \*************************************************************************************************************************************************************************************/
.form_radio__element:checked + .form_radio__label::before, .form_radio__element:checked + .form_radio__label::after {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .banner_v2 {
    padding: 16.7rem var(--gl-indent) 27rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v2 {
    padding: 24.5rem var(--gl-indent) 5.2rem;
  }
}
@media screen and (max-width: 479px) {
  .banner_v2 {
    background-image: linear-gradient(270deg, #3f5611 0%, #556c12 17%, #4b6111 40%, #22350c 100%);
  }
}

.banner_v2__bg_w {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
@media screen and (max-width: 479px) {
  .banner_v2__bg_w {
    opacity: 0.95;
    max-height: 30.2rem;
  }
}

.banner_v2__bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .banner_v2__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(7deg, #0a0404 0%, rgba(24, 9, 9, 0.96) 49%, rgba(45, 35, 28, 0.15) 100%);
    opacity: 0.7;
  }
}

.banner_v2__wrap {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .banner_v2__col {
    width: 40.5%;
    margin-left: auto;
  }
}
@media (max-width: 1023px) and (min-width: 767px) {
  .banner_v2__col {
    width: 63.5%;
    margin-left: auto;
  }
}

.banner_v2__title {
  font-weight: 500;
  letter-spacing: -0.018em;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .banner_v2__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v2__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  .banner_v2__title:not(:last-child) {
    margin-bottom: 1.7rem;
  }
}
@media screen and (max-width: 767px) {
  .banner_v2__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.banner_v2__text {
  font-weight: 400;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .banner_v2__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v2__text {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .banner_v2__text {
    line-height: 1.49;
  }
}
@media screen and (max-width: 767px) {
  .banner_v2__text {
    line-height: 1.45;
    letter-spacing: -0.015em;
  }
}
@media screen and (min-width: 1024px) {
  .banner_v2__text:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v2__text:not(:last-child) {
    margin-bottom: 2.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner_v2__text p:not(:last-child) {
    margin-bottom: 0.9rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner_v2__text p:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}

/*# sourceMappingURL=src_js_pages_steak-club_js.css.map*/